<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<img src="http://i68.tinypic.com/2i1yza0.png" style="max-width: 10%; height:auto; margin-top: -210px" alt="CU Here and Now Logo"></img>


<body style="background:#565A5C; background: gray;">
	
    
	
    <div class="conatiner1">
      <button class="btn btn-default one" title="Computers, Whiteboards..." onclick="myFunction()">Aden Hall (A)</button>
      <div id="Aden" class="dropdown-content">
        <ul>8 Computers</ul>
        <ul>Whiteboards</ul>
        <ul>1 Printer</ul>
        <ul>Vending Machine</ul>
        <ul>3 Study Rooms</ul>
        <ul>Public Phone</ul>
        <ul>Chalkboards</ul>
        <ul>Water Bottle Station</ul>
        <ul>TV, Pool, Ping Pong Table</ul>
      </div>

      <button class="btn btn-default one" title="Study Room..." onclick="myFunction2()">Crossman Hall (B)</button>
      <div id="Crosman" class="dropdown-content">
        <ul>1 Study Room</ul>
        <ul>Pool Table</ul>
      </div>

      <button class="btn btn-default one" title="Study Rooms, Chalkboards..." onclick="myFunction3()">Brackett Hall (C)</button>
      <div id="Brackett" class="dropdown-content">
        <ul>Whiteboards</ul>
        <ul>2 Study Rooms</ul>
        <ul>Chalkboards</ul>
        <ul>Piano</ul>
        <ul>Waterbottle Station</ul>
      </div>

      <button class="btn btn-default one" title="Study Room..." onclick="myFunction4()">Cockerell Hall (D)</button>
      <div id="Cockerell" class="dropdown-content">
        <ul>Whiteboards</ul>
      </div>

      <button class="btn btn-default one" title="Whiteboards, Study Rooms..." onclick="myFunction5()">Farrand Hall (E)</button>
      <div id="Farrand" class="dropdown-content">
        <ul>Whiteboards</ul>
        <ul>5 Study Rooms</ul>
        <ul>TV</ul>
        <ul>Water Bottle Station, 8 Individual, 2 Each Floor</ul>
        <ul>Classroom</ul>
      </div>

      <button class="btn btn-default one" title="Whiteboards, Vending Machine..." onclick="myFunction6()">Hallet Hall (F)</button>
      <div id="Hallet" class="dropdown-content">
        <ul>Whiteboards</ul>
        <ul>3 Study Rooms</ul>
        <ul>Vending Machine</ul>
        <ul>Public Phone</ul>
        <ul>Ping Pong Table</ul>
        <ul>TV</ul>
        <ul>Ball Pit</ul>
        <ul>Pool Table</ul>
        <ul>Classroom</ul>
      </div>
      <% include ../partials/Tags %>

  </div>

  <script>
  
    /* When the user clicks on the button, 
    toggle between hiding and showing the dropdown content */
    function myFunction() {
        document.getElementById("Aden").classList.toggle("show");
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function(event) {
      if (!event.target.matches('.one')) {

        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }

        /* When the user clicks on the button, 
    toggle between hiding and showing the dropdown content */
    function myFunction2() {
        document.getElementById("Crosman").classList.toggle("show");
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function(event) {
      if (!event.target.matches('.one')) {

        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }

    /* When the user clicks on the button, 
    toggle between hiding and showing the dropdown content */
    function myFunction3() {
        document.getElementById("Brackett").classList.toggle("show");
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function(event) {
      if (!event.target.matches('.one')) {

        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }

        /* When the user clicks on the button, 
    toggle between hiding and showing the dropdown content */
    function myFunction4() {
        document.getElementById("Cockerell").classList.toggle("show");
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function(event) {
      if (!event.target.matches('.one')) {

        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }

    /* When the user clicks on the button, 
    toggle between hiding and showing the dropdown content */
    function myFunction5() {
        document.getElementById("Farrand").classList.toggle("show");
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function(event) {
      if (!event.target.matches('.one')) {

        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }

        /* When the user clicks on the button, 
    toggle between hiding and showing the dropdown content */
    function myFunction6() {
        document.getElementById("Hallet").classList.toggle("show");
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function(event) {
      if (!event.target.matches('.one')) {

        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }


  </script>

  <br>
  <br>

  <img src="https://maps.googleapis.com/maps/api/staticmap?center=University+of+Colorado+Boulder,Boulder,CO&zoom=16&size=400x400&markers=color:black%7Clabel:A%7C40.0068094,-105.2653967&markers=color:black%7Clabel:B%7C40.0062758,-105.26477030000001&markers=color:black%7Clabel:C%7C40.0071421,-105.26494430000002&markers=color:black%7Clabel:D%7C40.0067598,-105.26450999999997&markers=color:black%7Clabel:E%7C40.0060083,-105.26577789999999&markers=color:black%7Clabel:F%7C40.0050106,-105.26500440000001&key=AIzaSyDKp2ZQeT-yPM40msTaaxLTEAQEElkVMcM" class="center" style="height:400px; width:400px;"></img>

  <br>
  <br>

  <div class="footer">
    <p><b><h4>
      Need help? Contact us!
      <br>
    </h4></b></p>
  </div>
  
  <br>

  <div class="contact">
    <p>identikey@colorado.edu</p>
    <p>Department of Computer Science</p>
    <p>University of Colorado Boulder</p>
  </div>
  
  <br>
  <br>

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>
</html>
