
<% if (test == "None") {%>

<form action = "http://127.0.0.1:8000/Login_Get" method = "Get">
	<button class="button Login" name="Login" id ="Login">Log in</button>
</form>
<% } %>

<% if (test != "None") { %>
<button class="userName" name="userName" id ="userName"><%- test %> </button>

<form action ="http://127.0.0.1:8000/Logout" method = "Get">
	<button class="button Logout" name="Logout" id ="Logout">Logout</button>
</form>

<% } %>
