<!-- views/partials/head.ejs -->

<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<meta charset="utf-8">

<!-- Bootstrap CSS -->

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<title>Resource Center</title>
<link rel="stylesheet" type="text/css" href="css/style.css" />

<div class="container">
<img src="http://i65.tinypic.com/16hoqhl.png" border="0" alt="Image and video hosting by TinyPic" style="width: 100%"></a>
 <div class="centered"><h1><b>Welcome to the Resource Center!</b></h1>
	
	<% include headL %>
	
	<form action = "http://127.0.0.1:8000/NewUser" method = "Get">
		<button class="button2 newUser" name="SignUp">Sign Up</button>
	</form>
	
	
 </div>
 
</div>
<br>
<br>
