<!-- views/partials/head.ejs -->

<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<meta charset="utf-8">

<!-- Bootstrap CSS -->

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<title>Resource Center</title>
<link rel="stylesheet" type="text/css" href="css/style.css" />
<div class="container">
	<img src="http://i66.tinypic.com/2pqurte.png" border="0" alt="Image and video hosting by TinyPic"style="width: 100%; height: 150px"></a>
	<div class="centeredTitle">
		<h1><b>Welcome to the Resource Center!</b></h1>
		
		<div class = "Name">
		<% include UserN %>
		</div>
		
		<div class = "headL"> 
			<% include headL %>
		</div>
		

		
		<div class "newUser>
			<form action = "http://127.0.0.1:8000/NewUser" method = "Get">
				<button class="button2 newUser" name="SignUp">Sign Up</button>
			</form>	
		</div>
	</div>
</div>
<br>
<br>
