<% if(test != "None") {%>
<button class = "btn btn-default three" onclick="document.getElementById('id01').style.display='block'" style="width:auto"><b>Add Tag</b></button>
    <div id="id01" class="modal">

        <form class="modal-content animate" action="http://127.0.0.1:8000/Model" method = "post">
            <div class="imgcontainer">
                <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
            </div>

            <div class="container">
                <label for="HALL" id= "HALL" name = "HALL">
                    <b>Building</b>
                </label>
                <br>
                <br>
                <br>
                <select style="color:black;" id = "HALL" name = "HALL" required>
                    <option value="Aden">Aden Hall</option>
                    <option value="Brackett">Brackett Hall</option>
                    <option value="Cockerall">Cockerall Hall</option>
                    <option value="Crossman">Crossman Hall</option>
                    <option value="Hallett">Hallett Hall</option>
                    <option value="Farrand">Farrand Hall</option>
                </select>
                <br>
                <br>
                <br>
                <label for="TAGG">
                    <b>Tag</b>
                </label>
                <input type="text" style="color:black;" placeholder="Tag" name="TAGG" id = "TAGG" required>

                <button type="submit" style="color:black;">Add Tag</button>
            </div>

            <div class="container" style="background-color: #CFB87C">
                <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
            </div>
        </form>
    </div>

    <script>
        // Get the modal
        var modal = document.getElementById('id01');

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
<% } %>
